{#
/**
 * @file
 * Theme template to display a block.
 *
 * Available variables:
* - product_qr_code: URL of QR image.
 */
#}
{% if product_qr_code is not empty %}
	<div class="product-qr-code"><img src="{{ product_qr_code }}"></div>
{% else %}
	<div class="no-data">
		No QR code found !
	</div>
{% endif %}
